<tr>
    <!--
    <label for=<%=flightID%>></label>
    -->
    <th scope="row">
        <br>
        <div style="float:left;position: relative;top: 20px">
            <input type="radio" id=<%=flightID%> autocomplete="off" name=<%=flightType%> value=<%=flightID%> required>
            <%=flightID%>
        </div>
        <div id="block1">
            Non-stop - 6h 20mins <br>
            <div style="font-size:25px; color:rgb(0, 36, 114);">SIN 02:30 </div>
            01 DEC (SUN)
            Singapore
        </div>
        <div style="width: 50px;float: left;position: relative;top: 20px;left: 0px;">
            <img src="https://img.icons8.com/material/24/000000/arrow.png">
        </div>
        <div id="block2">
            SGD
            <div style="font-size:25px; color:rgb(0, 112, 112);">1,500.00 </div>
            PER ADULT
        </div>
        <div id="block2">
            <br>
            <div style="font-size:25px; color:rgb(0, 36, 114);">SIN 09:50 </div>
            01 DEC (SUN)
            Seoul
        </div>
        <br>
    </th>
</tr>