<tr>
    <td colspan="2" style="background-color:rgb(0, 36, 114);">
        <h1 style="color: white;">
            Passenger details
        </h1>
    </td>
</tr>

<!-- Show selections based on previous page -->
<tr>
    <td colspan="2" style="background-color:#e6eeff;">
        <div id="block1">
            <b>
                <h3 style="font-weight: bold;">Departing
                </h3>
            </b>
            <h5><%=departDate%></h5><br>
                <div style="font-size:25px; font-weight:bold; color:rgb(0, 36, 114);">SIN 02:30 </div>
                <em><%=from%></em> <br>
            
        </div>
        <div style="float: left;position: relative;top: 80px;left: -40px;">
            <img src="https://img.icons8.com/metro/26/000000/airplane-mode-on.png">
        </div>
        <div id="block2">
                <b>
                        <h3><br>
                        </h3>
                    </b>
            <h5><%=returnDate%></h5><br>
            <div style="font-size:25px; font-weight:bold;color:rgb(0, 36, 114);">SIN 09:50 </div>
            <em><%=from%></em> <br>
        </div>
        <div id="block2">
            <b>
                <h3 style="font-weight: bold;">Returning
                </h3>
            </b>
            <h5><%=returnDate%></h5><br>
                <div style="font-size:25px; font-weight:bold; color:rgb(0, 36, 114);">SIN 12:35 </div>
                <em><%=to%></em> <br>
            
        </div>
        <div style="width: 50px;float: left;position: relative;top: 80px;left: 470px;">
            <img src="https://img.icons8.com/metro/26/000000/airplane-mode-on.png">
        </div>
        <div id="block2">
            <b>
                <h3><br>
                </h3>
            </b>
            <h5><%=departDate%></h5><br>
                <div style="font-size:25px; font-weight:bold; color:rgb(0, 36, 114);">SIN 18:20 </div>
                <em><%=to%></em> <br>
            
        </div>
    </td>
</tr>