<li class="seat">
    <input type="checkbox" id='<%=type%> <%=seatNumber%>' name='<%=type%> <%=seatNumber%>' <%if(disabled){%>disabled<%}%> onclick="test()"/>
    <label for='<%=type%> <%=seatNumber%>'><%=seatNumber%></label>
</li>