<html>

<head>
  <title>Airline Ticketing System</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="confirm_details.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <table>
      <tr>
        <td colspan="2" style="background-color:rgb(0, 36, 114);">
          <h1>
            <font color="white">Confirm details</font>
          </h1>
        </td>
      </tr>

      <!-- Show selections based on previous page -->
      <%- include('partials/particulars_header', {from: from, to: to, departDate: departDate, returnDate: returnDate}); -%>

      <td style="background-color:#eeeeee;">
        <br>



        <!-- Creat tabs to fill in details for multiple passengers instances-->
        <div class="tab">
          <% for(var i = 1; i <= pax; i++){ %>
          <button class="tablinks" onclick="openPassenger(event, 'Passenger<%=i%>')" id='passenger<%=i%>-tab'>Passenger
            <%=i%></button>
          <% } %>
        </div>
        <div id="Passenger1" class="tabcontent">
          <div style="font-size:25px; color:rgb(0, 112, 112); font-size:30px ; font-weight: bold;">Passenger 1 </div>
          <!-- Passenger details -->
          <form>
            <br>Membership number:<br>
            ABZ00189
            <b>
              <h3>Name</font>
              </h3>
            </b>
            Mr. Jithin Joseph
            <b>
              <h3>Contact details</font>
              </h3>
            </b>
            Email address:<br>
            jithinjosephmp@gmail.com
            <br>
            <br>Phone number:<br>
            +91 7736657159
            <b>
              <h3>Others</font>
              </h3>
            </b>
            Any dietary requirements?<br>
            No
            <br><br>
            Additional Baggage <br>
            No
            <br><br>
            Insurance <br>
            No
            <br>
            <input id="passengerEdit" type="submit" name="edit" value="Edit" class="passengerEdit">
            <br>
        </div>
        <div id="Passenger2" class="tabcontent">
          <div style="font-size:25px; color:rgb(0, 112, 112); font-size:30px ; font-weight: bold;">Passenger 2 </div>
          <!-- Passenger details -->
          <br>Membership number:<br>
          ABZ00189
          <b>
            <h3>Name</font>
            </h3>
          </b>
          Mr. Jithin Joseph
          <b>
            <h3>Contact details</font>
            </h3>
          </b>
          Email address:<br>
          jithinjosephmp@gmail.com
          <br>
          <br>Phone number:<br>
          +91 7736657159
          <b>
            <h3>Others</font>
            </h3>
          </b>
          Any dietary requirements?<br>
          No
          <br><br>
          Additional Baggage <br>
          No
          <br><br>
          Insurance <br>
          No
          <br>
          <input id="passengerEdit" type="submit" name="edit" value="Edit" class="passengerEdit">

          <br>
        </div>

        <!-- Function to create tabs for multiple passengers instances -->
        <script>
          var pax = <%=pax%>;
          function openPassenger(evt, Passenger) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(Passenger).style.display = "block";
            evt.currentTarget.className += " active";
          }
          function proceedToCheckOut() {
            document.getElementById("Payment").style.display = "block";
          }

          document.getElementById('Passenger1').style.display = "block";
          p1_tab = document.getElementById('passenger1-tab');
          p1_tab.selected = true;
          p1_tab.className = "tablinks active";
        </script>


        <!-- Seat selections - Departing -->
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <div style="font-size:25px; color:rgb(0, 112, 112); font-size:30px ; font-weight: bold;">Seats - Departing
          flight
        </div>
        <ul class="legend">
          <li><span class="available"></span> Selected seat</li>
          <!--  <li><span class="notavailable"></span> Not available</li>
          <li><span class="selected"></span> Selected seat</li> -->
        </ul>
        <br>
        <%- include('partials/plane', {seats: seats, type: "return"}); -%>

        <!-- Seat selections - Returning -->
        <br>
        <div style="font-size:25px; color:rgb(0, 112, 112); font-size:30px ; font-weight: bold;">Seats - Returning
          flight
        </div>
        <ul class="legend">
          <li><span class="available"></span> Selected seat</li>
        </ul>
        <br>
        <%- include('partials/plane', {seats: seats, type: "return"}); -%>

        <!-- Proceed to confirmation -->
        <br><input type="button" name="formSubmit" value="Proceed to checkout" class="checkOutbutton1"
          onclick="proceedToCheckOut()"><br>
        <div id="Payment" class="paymentTabContent">
          <div style="font-size:25px; color:rgb(0, 112, 112); font-size:30px ; font-weight: bold;">Payment Details</div>
          <!-- Passenger details -->
          <br> <b>Booking Ref No :</b> ABZ00189<br>
          <br> <b>Departure Fare :</b> USD XXXX<br>
          <br> <b>Return fare :</b> USD XXXX<br>
          <br> <b>Fee + Tax :</b> USD XXXX (Total x 7%)<br>
          <br> <b>Airport Service Charge :</b> USD XXXX (Total x 3%)<br>
          <br> <b>Payment Status :</b> APPROVED<br>
          <br>
          <br> <b>Total Amount :</b> USD XXXX<br>
          <br>
          <br>
          <br>
          <input id="paymentButton" type="submit" name="continue" value="Continue" class="button1"><br>
        </div>
        <!--Credits for icons-->
        <!-- <br><a href="https://icons8.com/icon/3690/airplane-mode-on">Airplane Mode On icon by Icons8</a> -->

        </form>
    </table>
  </div>
</body>

</html>